{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'weddings/style.css' %}" />

<h1>{{ wedding }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h2>{{ wedding.date }}</h2>
{% if wedding.guest_set.count > 0 %}
    <h4>Guests:</h4>
    <ul>
    {% for guest in wedding.guest_set.all %}
        <li><a href="{% url 'weddings:guest' wedding.id guest.id %}">{{ guest.name }} {{ guest.surname }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no guests in this wedding yet.</p>
{% endif %}

<form action="{% url 'weddings:detail' wedding.id %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.name }}
    {% if form.name.errors %}
            {% for error in form.name.errors %}
                {{ error }}
            {% endfor %}
    {% endif %}
    {{ form.surname }}
    {% if form.surname.errors %}
            {% for error in form.surname.errors %}
                {{ error }}
            {% endfor %}
    {% endif %}
    {{ form.email }}
    {% if form.email.errors %}
            {% for error in form.email.errors %}
                {{ error }}
            {% endfor %}
    {% endif %}
    <input type="submit" value="add" />
</form>

<a href="{% url 'weddings:index' %}"><< Back</a>