<h1>{{ wedding }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h2>{{ wedding.date }}</h2>
<h4>Guests:</h4>
<ul>
{% for guest in wedding.guest_set.all %}
    <li><a href="{% url 'weddings:guest' wedding.id guest.id %}">{{ guest.name }} {{ guest.surname }}</a></li>
{% endfor %}
</ul>

<form action="{% url 'weddings:add_guest' wedding.id %}" method="post">
    {% csrf_token %}
    <input type="text" name="name" />
    <input type="text" name="surname" />
    <input type="text" name="email" />
    <input type="submit" value="add" />
</form>

<a href="{% url 'weddings:index' %}"><< Back</a>